// Biến màu nền 

// $primary-color: ;  // Màu chính
// $secondary-color: ; // Màu phụ
$background-color: #FFF8F3 ; // Màu nền
$secondary-color-btn: #936CDD; // màu button, hover,..



// $accent-color: ; // Màu nổi bật
// $success-color: ; // Màu thành công
// $error-color: ; // Màu lỗi


//Biến màu text
$font-color: #201830;  // Màu text deafult
$font-color-hover: #936CDD; // Màu text hover
$font-color-secondary: #665F73; // Màu text phụ
$font-color-secondary-2: #fff; // Màu text phụ category
$font-color-secondary-3: #FD6F1F;; // Màu text popular
$font-color-author: #ABA6B5; // Tên tác giả 
