@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn ($width, $height, $tb, $lr) {
    width: $width;
    height: $height;
    padding: $tb $lr;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}